
<div id="recipeContainer"><%= render 'recipeCard' %></div>

<!-- <%= @response[0]["recipeName"] %>
<p><%= @response[0]["recommendation_score"] %></p> -->
<!-- These lines will show recipe stuff -->
<!-- Large pics Yay! -->
<!-- <%= link_to image_tag(@response[0]["largeImage"]), "http://www.yummly.com/recipe/#{@response[0]["id"]}" %>
<%= link_to "Trash", users_random_path, method: :post, remote: true %>
<%= link_to "Try", users_random_path, method: :post, remote: true %> -->

<h4>This is the recommendation score: <%= @response[0]["recommendation_score"] %></h4>
<h4>This is the Yummly Rating: <%= @response[0]["rating"] %></h4>
<h4>User ID is: <%= current_user.id %></h4>
<h4>RecipeID is: <%= @response[0]["id"] %></h4>
