<p id="notice"><%= notice %></p>
<%= @response[0]["recipeName"] %>
<p><%= @response[0]["recommendation_score"] %></p>
<!-- These lines will show recipe stuff -->
<!-- Large pics Yay! -->
<%= link_to image_tag(@response[0]["largeImage"]), "http://www.yummly.com/recipe/#{@response[0]["id"]}" %>




<h1>Listing Users</h1>
<h4> All users will direct here, they will only be able to see their own recipes. Do you want to add cards again?<h4>

<h4>This is the recommendation score, not sure what it does: <%= @response[0]["recommendation_score"] %></h4>
<h4>This is the rating, that's from yummly I assume? <%= @response[0]["rating"] %></h4>
